.task-container completed {
    background-color: greenyellow;
}

.task-container {
    background-color: red;
    width: 20rem;
    padding: 5px;
}

.task-text {
    color: black;
    width: 20rem;
    padding: 5px;
}